{% extends 'cms/base.html' %}

{% block content %}
    <h1>Companies</h1>
    <table>
        <tr>

            <th>Name</th>
            <th>Stock Price</th>
            <th>Owner</th>
            <th>Creator</th>
        </tr>
    {% for company in companies %}
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.stock_price }}$</td>
            <td>{{ company.owner }}</td>
            <td>{{ company.creator }}</td>
        </tr>
    {% endfor %}
    </table>


    <h1>Users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>last login</th>
            <th>joined</th>
        </tr>
    {% for user in users %}
        {% if user.is_active == True %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.date_joined }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>

{% endblock content %}
